@media (max-width: 36em) {
  .container {
    grid-template-columns: 1fr;
    transform: scale(0.8);
  }
}

@media (max-width: 29em) {
  .overlay {
    opacity: 0;
  }

  .fav-quotes {
    padding: 2rem;
    width: 105%;
  }
}
